* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#back {
	background-color: #212529;
}
.modal-color {
	background-color: #212529;
}
body {
	width: 100%;
	height: 100vh;
	display: flex; 
	justify-content: center;
}

.btncontainer {
	width: 180px;
	height: 180px;
	background: #BEAC72;
	border-radius: 50%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
}

.btncontainer:hover {
	background: #ccab3e;
}

.key-value-list {
	height: 35%;
	overflow-y: auto;
}

.edit-btn, .del-btn {
	all: unset;
	cursor: pointer;
	margin: 2%;
}
#addNewLabel, #editLabel{
	color:white;
}

.theme-color-gold {
	background: #BEAC72;
}

.theme-color-black {
	background: #212529;
}

.theme-color-white {
	color: white;
}

.theme-color-gold:hover {
	background: #ccab3e;
}
